.slides{
    width: 60%;
    margin: 3rem auto;
    img{
        width: 100%;
        height:500px;
    }
    position: relative;
    .left,.right{
        position: absolute;
        background-color: aqua;
        padding: 20px 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .left{
        left: 10px;
    }
    .right{
        right: 10px;
    }

}

.dots{
    display: flex;
    gap :6px;
    justify-content: center;
    i{
        color: aqua;
    }
}

.active{
    color: black !important; 
}